@min-width: 1226px;
@black: #333333;
@grey: #b0b0b0;
@white: white;
@orange: #ff6700;

body {
    min-width: @min-width;
}

.topBar {
    font-size: 12px;
    background-color: @black;
    width: 100%;

    &-contain {
        line-height: 40px;
        width: @min-width;
        margin: 0 auto;

        li {
            float: left;

            // 导航条列之间的分隔线
            &:not(:nth-last-of-type(1))::after {
                content: 'I';
                color: darken(@black, -10%);
                margin: 0 .6em;
            }
        }

        a {
            color: @grey;

            &:hover {
                color: @white;
            }
        }
    }

    &-left {
        float: left;
    }

    &-user {
        float: right;
    }

    &-cart {
        color: @grey;
        float: right;
        margin-left: 2em;
        position: relative;
        background-color: darken(@black, -10%);

        .cart-icon {
            width: 10em;
            cursor: pointer;
            text-align: center;
        }

        .cart-panel {
            color: @black;
            width: 27em;
            height: 0px;
            /* 设置绝对定位使其脱离文档流 */
            position: absolute;
            right: 0;
            z-index: 1;
            box-shadow: 0px 2px 10px fade(@black, 15%);
            transition: height .3s;

            span {
                display: none;
            }
        }

        &:hover {
            color: @orange;

            .cart-icon {
                /* 遮挡面板的阴影 */
                position: relative;
                z-index: 2;
                background-color: @white;
            }

            .cart-panel {
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;

                span {
                    display: inline;
                }
            }
        }
    }
}