@min-width: 1226px;
@black: #333333;
@lightgrey: #e0e0e0;
@grey: #b0b0b0;
@white: white;
@orange: #ff6700;

body {
    min-width: @min-width;
}

.container {
    width: @min-width;
    margin: 0 auto;
}

/* 配置导航条 */
@topBar-height: 40px;

.topBar {
    font-size: 12px;
    background-color: @black;
    width: 100%;
    position: relative;
    z-index: 40;

    li {
        float: left;

        // 导航条列之间的分隔线
        &:not(:nth-last-of-type(1))::after {
            content: 'I';
            color: darken(@black, -10%);
            margin: 0 .6em;
        }
    }

    a {
        color: @grey;
        line-height: @topBar-height;

        &:hover {
            color: @white;
        }
    }

    &-item {
        float: left;
    }

    &-user {
        float: right;
    }

    &-cart {
        color: @grey;
        float: right;
        margin-left: 24px;
        position: relative;
        background-color: darken(@black, -10%);

        .cart-icon {
            width: 120px;
            line-height: @topBar-height;
            cursor: pointer;
            text-align: center;
        }

        .cart-panel {
            color: @black;
            width: 320px;
            height: 0px;
            /* 设置绝对定位使其脱离文档流 */
            position: absolute;
            right: 0;
            z-index: 41;
            box-shadow: 0px 2px 10px fade(@black, 15%);
            transition: height .3s;
            background-color: @white;

            span {
                display: none;
            }
        }

        &:hover {
            color: @orange;

            .cart-icon {
                /* 遮挡面板的阴影 */
                position: relative;
                z-index: 42;
                background-color: @white;
            }

            .cart-panel {
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;

                span {
                    display: inline;
                }
            }
        }
    }
}

/* 头部 */
.header {
    font-size: 16px;
    width: 100%;
    height: 100px;
    position: relative;
    z-index: 30;

    &-logo {
        float: left;

        img {
            padding-top: 22px;
            width: 56px;
            height: 56px;
        }
    }

    &-nav {
        float: left;
        width: 874px;
        line-height: 100px;
        padding-left: 188px;
        box-sizing: border-box;
        display: flex;
        align-items: center;

        li {
            padding-right: 20px;

            &:hover {
                a {
                    color: @orange;
                }
            }
        }
    }

    &-search {
        float: right;
        width: 296px;
        height: 50px;
        margin-top: 25px;

        .search-base {
            float: left;
            height: inherit;
            border: 1px solid @lightgrey;

        }

        .search-inp {
            .search-base;
            width: 83%;
            border-right: none;
            outline: none;

            &:focus {
                border-color: @orange;
            }

            &:focus+.search-btn {
                border-color: @orange;
            }
        }

        .search-btn {
            .search-base;
            width: 17%;
            cursor: pointer;

            &:hover {
                background-color: @orange;
            }
        }
    }

    &-menu {
        display: none;
        opacity: 0;
        width: 100%;
        background-color: @white;
        border-top: 1px solid darken(@black, -60%);
        box-shadow: 0px 3px 4px fade(@black, 20%);
        transition: opacity .5s;

        ul {
            display: flex;
            justify-content: space-around;

            li:nth-of-type(odd) {
                width: 180px;
                height: 195px;
                padding-top: 35px;
                text-align: center;

                img {
                    width: 160px;
                    margin-bottom: 10px;
                }

                .menu-title {
                    width: 160px;
                    line-height: 20px;
                    font-size: 12px;
                    margin: 0 auto;
                }

                .menu-price {
                    .menu-title;
                    color: @orange;
                }
            }

            .menu-divider {
                width: 1px;
                height: 100px;
                margin-top: 40px;
                background-color: @lightgrey;
            }
        }
    }
}

/* 侧边栏 */
.sideBar {
    position: relative;
    z-index: 20;
    background-image: url(./icons/background_1.jpg);
    background-size: contain;
    background-repeat: no-repeat;

    &-menu {
        float: left;
        background-color: rgba(0, 0, 0, .35);
        padding: 20px 0;

        li {
            position: relative;
            width: 204px;
            height: 42px;
            line-height: 42px;
            padding-left: 30px;
            cursor: pointer;

            &>a {
                color: @white;
            }

            i {
                position: absolute;
                top: 13px;
                right: 20px;
                font-size: 16px;
                color: @lightgrey;
            }

            &:hover {
                background-color: @orange;
            }

            &:hover .sideBar-list {
                display: flex;
            }

            .sideBar-list {
                display: none;
                position: absolute;
                top: -20px;
                left: 234px;
                width: 992px;
                height: 460px;
                background-color: @white;
                box-shadow: 3px 4px 10px fade(@black, 20%);
                align-content: flex-start;
                flex-wrap: wrap;

                &>div {
                    width: 25%;
                    padding: 18px 20px;
                    box-sizing: border-box;
                    position: relative;

                    a {
                        cursor: pointer;

                        img {
                            height: 40px;
                        }

                        .sideBar-title {
                            position: absolute;
                            left: 72px;
                            bottom: 28px;
                        }

                        &:hover {
                            color: @orange;
                        }
                    }
                }
            }
        }
    }
}