{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80,
  "tabWidth": 2,   
  "jsxSingleQuote": true,
  "endOfLine": "lf",
  "arrowParens": "always",
  "bracketSpacing": true
}