@import '@/styles/less/method.less';
@import '@/styles/less/theme-colors.less';

hr {
  border: none;
  height: 2px;
  background-color: @base-lightgrey;
}

.baseBackground {
  // 将高度填满，便于计算元素位置
  height: 400px;
  border-radius: 5px;
  border: 2px solid @base-green;
}

.baseImg {
  height: 300px;
  border-radius: 5px;
  margin-top: 5px;
  border: 2px solid @base-green;
}

.dragOverall {
  display: flex;
  align-items: center;

  .dragAnimes {
    .dragBorderGreen;

    img {
      .dragImg;
      .dragBorderGreen;
      margin: 10px;
      box-sizing: border-box;
    }
  }

  .dragClothes {
    .dragBorderGreen;
    margin-left: 20px;
    text-align: center;
    font-size: 20px;
    position: relative;

    div {
      position: absolute;
      left: 50%;
      top: 45%;
      transform: translate(-50%, -50%);
      min-width: 150px;
      min-height: 150px;
      box-sizing: border-box;
    }

    & > img {
      height: 500px;
    }
  }
}

.dragBorderRed {
  border: 2px dashed @base-red !important;
}

.dragBorderGreen {
  border: 2px solid @base-green;
}

.dragImg {
  height: 150px;
  display: block;
}
