<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <link href="/stylesheets/reset.css" rel="stylesheet">
    <link href="/stylesheets/details.css" rel="stylesheet">
    <title>记账本</title>
</head>

<body>
    <div class="container">
        <div class="title">记账本</div>
        <hr>
        <ul>
            <li style="border-color: #f2ddde;">
                <div style="background-color: #f2ddde;">
                    <div style="color: #a87e81;">2023-04-05</div>
                </div>
                <div>
                    <div>买房</div>
                    <div>支出</div>
                    <div>200万元</div>
                </div>
            </li>
            <li style="border-color: #dff1d8;">
                <div style="background-color: #dff1d8;">
                    <div style="color: #839a7e;">2023-04-15</div>
                </div>
                <div>
                    <div>发工资</div>
                    <div>收入</div>
                    <div>4000元</div>
                </div>
            </li>
        </ul>
    </div>
</body>

</html>