@black: #333333;
@lightgrey: #e0e0e0;
@grey: #b0b0b0;
@darkgrey: grey;
@white: white;
@orange: #ff6700;

html {
    font-size: 52.1111px;
}

body {
    font-size: .22rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: @lightgrey;

    &-tools {
        display: flex;
        align-items: center;
        // 规定整体高度
        height: .84rem;

        .header-logo {
            display: flex;
            align-items: center;

            img {
                width: .5rem;
                margin: 0 .2rem;
            }
        }

        .header-search {
            flex: 1;
            display: flex;
            align-items: center;
            border-radius: .04rem;
            color: @grey;
            background-color: @white;

            i {
                font-size: .27rem;
                padding: .18rem;
            }

            &-text {
                font-size: .3rem;
            }
        }

        .header-user {
            color: @black;

            i {
                font-size: .4rem;
                padding: 0 .3rem;
            }
        }
    }

    &-menu {
        display: flex;
        font-size: .26rem;
        padding: .15rem 0;

        .menu-left {
            flex: 1;
            display: flex;
            justify-content: space-around;
            padding: 0 .4rem;

            a {
                color: @darkgrey;

                &:hover {
                    color: @orange;
                }
            }
        }

        .menu-right {
            color: @grey;
            padding: 0 .25rem;
        }
    }
}