html {
  font-size: 52.1111px;
}
body {
  font-size: 0.22rem;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #e0e0e0;
}
.header-tools {
  display: flex;
  align-items: center;
  height: 0.84rem;
}
.header-tools .header-logo {
  display: flex;
  align-items: center;
}
.header-tools .header-logo img {
  width: 0.5rem;
  margin: 0 0.2rem;
}
.header-tools .header-search {
  flex: 1;
  display: flex;
  align-items: center;
  border-radius: 0.04rem;
  color: #b0b0b0;
  background-color: white;
}
.header-tools .header-search i {
  font-size: 0.27rem;
  padding: 0.18rem;
}
.header-tools .header-search-text {
  font-size: 0.3rem;
}
.header-tools .header-user {
  color: #333333;
}
.header-tools .header-user i {
  font-size: 0.4rem;
  padding: 0 0.3rem;
}
.header-menu {
  display: flex;
  font-size: 0.26rem;
  padding: 0.15rem 0;
}
.header-menu .menu-left {
  flex: 1;
  display: flex;
  justify-content: space-around;
  padding: 0 0.4rem;
}
.header-menu .menu-left a {
  color: grey;
}
.header-menu .menu-left a:hover {
  color: #ff6700;
}
.header-menu .menu-right {
  color: #b0b0b0;
  padding: 0 0.25rem;
}
