@import '@/styles/less/method.less';
@import '@/styles/less/theme-colors.less';

.commentItemOverall {
  display: flex;
  margin: 22px 16px;
}

.commentItemPortrait {
  img {
    width: 48px;
    border-radius: 50%;
    margin-right: 16px;
  }
}

.commentItemBody {
  flex: 1;

  &::after {
    content: '';
    height: 1px;
    width: 100%;
    background-color: @base-lightgrey;
    display: inline-block;
  }

  .commentItemUser {
    display: flex;
    align-items: center;

    & > div:nth-of-type(1) {
      .font(14px, 500, @base-grey);
      margin-right: 5px;
    }

    & > div:nth-of-type(2) {
      background-color: @base-red;
      .font(8px, 900, @base-white);
    }
  }

  .commentItemContext {
    .font(16px, 400, @base-dark);
    margin-top: 14px;
  }

  .commentItemAction {
    .font(14px, 400, @base-grey);
    display: flex;
    align-items: center;
    margin-top: 5px;

    & > div {
      margin-right: 20px;
    }

    & > div:nth-of-type(2) {
      flex: 1;
    }

    & > div:nth-of-type(3) {
      cursor: pointer;

      &:hover {
        color: @base-red;
      }
    }
  }
}
